.color{
    color: orangered;
}
.voting{
    color: gray;
    text-align: center;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.voting h5{
    line-height: 30px;
}
.voting hr{
    border: 1px solid orangered;
    width: 75%;
    margin-left: 12%;
}