.header nav{
    margin-top: 5px;
}
.navbar-links{
    margin-top: 35px;
    margin-left: 50px;
}
.navbar-links a{
    text-decoration: none;
    margin-left: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 10px;
    color: orangered;
    border: 1px solid white;
}
.navbar-links a:hover{
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
}
.header img{
    width: 200px;
    height: 100px;
}
.header hr{
    margin-top: 2px;
    border: 1px solid rgb(14, 0, 0);
}
