.color-primary{
    color: #ed8b20;
}
.background{
    background-color: white;
}
.festival{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
}
.festival-image img{
    width: 600px;
    height: 400px;
    margin-top: 0;
}
.festival-info{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 32px;
    color: rgb(112, 109, 109);
    text-align: center;
}
.festival-info h5{
    line-height: 40px;
}
.festival-info button{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    padding: 10px 15px 8px 15px;
    background-color: #ed8b20;
    border: 2px solid #ed8b20;
    border-radius: 2px;
    color: white;
    text-align: center;
}
.festival-info button:hover{
    color: #ed8b20;
    background-color: transparent;
    transition: all 0.5s ease;
    font-weight: bold;
}

